{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('handle_transaction') }}" method="post">

    <div class="mb-3">
      <label for="inputSender" class="form-label">Отправитель</label>
      <input type="text" class="form-control" name="sender" aria-describedby="emailHelp" placeholder="Sender">
    </div>

    <div class="mb-3">
      <label for="inputReceiver" class="form-label">Адресат</label>
      <input type="text" class="form-control" name="receiver" placeholder="Receiver">
    </div>

    <div class="mb-3">
        <label for="inputAmount" class="form-label">Сумма</label>
        <input type="text" class="form-control" name="amount" placeholder="Amount">
      </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>

{% endblock %}
