{% extends 'base.html' %}

{% block content %}

{% if missing_values %}
<style>
  .form-control {
    border: 1px solid red;
  }
</style>
{% endif %}


<h4>Transactions left: {{transactions_number}}</h4></br>

<form action="{{ url_for('handle_transaction') }}" method="POST">

    <div class="mb-3">
      <label for="inputSender" class="form-label">Sender</label>
      <input type="text" class="form-control" name="sender" placeholder="Sender">
    </div>

    <div class="mb-3">
      <label for="inputRecipient" class="form-label">Recipient</label>
      <input type="text" class="form-control" name="recipient" placeholder="Recipient">
    </div>

    <div class="mb-3">
        <label for="inputAmount" class="form-label">Amount</label>
        <input type="text" class="form-control" name="amount" placeholder="Amount">
      </div>

    <button type="submit" class="btn btn-primary">Execute</button>
  </form>

{% endblock %}
